<div class="genre ml-4">
  <div class="genre-list">
    <%= link_to path do%>
      <img src= <%= image %> class="genre-image">
      <p class="genre-name"><%= heading%></p>
    <% end %>
  </div>
</div>
