<div class="row">
  <div class="col-lg-5">
    <%= image_tag @shop.image.url, size: "320x240", class: "img-responsive" %>
  </div>
  <div class="col-lg-5">
    <%= @shop.shopping_hours %>
  </div>
</div>
