    <div class="tab-pane fade show active" id="top" role="tabpanel" aria-labelledby="top-tab">
    <form>
      <div class="mx-auto form-group" style="max-width: 80%" >
        <label for="exampleFormControlTextarea1">
        <h5 class="m-3 readonly">自己紹介</h5>
        </label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" readonly><%= @user.self_introduction %>
        </textarea>
      </div>
    </form>
    </div>
