/*
 *= require_tree .
 *= require_self
 */

 @import "bootstrap/scss/bootstrap";

/* hader */

#logo {
  font-size: 1.1em;
  letter-spacing: -1px;
  font-weight: bold;
  color: white;
}

.navbar {
  justify-content: space-between;
}

.nav-item {
  font-size: 14px;
}

/* static_pages home */

.jumbotron {
  background-color: black;
  background-image: url(assets/background-image.jpeg);
  padding-top: 90px;
  color: black;
  h1 {
    font-weight: bold;
    font-size: 62px;
  }
  p {
    font-size: 24px;
    font-weight: bolder;
  }
}

.home-title {
  margin-top: 60px;
  min-height: 30vh;
}

/* static_pages search */

.search {
  padding: 0 80px;
  h1 {
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
  }
}

.input-group {
  width: 90%;
  margin-left: 12px;
}

/* static_pages area */

.area {
  padding: 0 80px;
  h1 {
    padding-top: 40px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
  }
}

.card-body {
  h1 {
    padding-top: 12px;
    font-size: 24px;
    margin-left: 20px;
  }
}

/* static_pages genre */

.genre-title {
  padding-top:48px;
  font-size: 24px;
  font-weight: bold;
  margin-left: 80px;
}

.genre {
  display: flex;
  gap: 2px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1rf));
  margin-bottom: 5px;
  margin-left: 100px;
  flex-wrap: wrap;
}

.genre-list {
  background-color: black;
  position: relative; /*相対配置*/
  white-space: nowrap;
  margin: 10px;
  :hover {
    opacity: 0.7;
  }
}

.genre-name {
  padding: 10px;
  position: absolute; /*絶対配置*/
  color: white;
  font-weight: bold;
  font-size: 15px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.genre-image {
  width: 170px;
  height: 160px;
  opacity: 0.7;
}

/* static_pages brand */

.brand-title {
  padding-top:48px;
  font-size: 24px;
  font-weight: bold;
  margin-left: 80px;
}

.brand {
  display: flex;
  gap: 2px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1rf));
  margin-bottom: 5px;
  margin-left: 100px;
  flex-wrap: wrap;
}

.brand-list {
  background-color: black;
  white-space: nowrap;
  margin: 10px;
  :hover {
    opacity: 0.7;
  }
}

.brand-image {
  width: 170px;
  height: 160px;
}

/*footer */

footer {
  width: 100%;
  height: 100px;
  padding-top: 0.8rem;
  margin-top: 6rem;
  background-color: whitesmoke;
  color: grey;
  text-align: center;
  p {
    font-size: 16px;
    padding-top: 24px;
  }
}
/* 全体画面（フッターの余白を埋める） */

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
main {
  flex: 1;
}


/* 全体の入力フォームの余白 */

.field {
  margin-bottom: 10px;
  font-weight: bold;
}

/* 会員登録画面 */

.registration-form {
  margin: 0 150px;
}

.registration-title {
  margin: 30px 0;
  font-weight: bold;
  text-align: center;
}

.login-link {
  margin-top: 10px;
}

/* ログイン画面 */

.login-form {
  margin: 0 150px;
}

.login-title {
  margin: 30px 0;
  font-weight: bold;
  text-align: center;
}

.registration-link {
  margin-top: 10px;
}

/* ユーザー編集画面 */

.edition-form {
  margin: 0 150px;
}

.edition-title {
  margin: 30px 0;
  font-weight: bold;
  text-align: center;
}

.deletion-title {
  margin: 50px 0;
  font-weight: bold;
  text-align: center;
}

.back-mypage-link {
  margin-top: 10px;
}

.update-button {
  text-align: center;
}

.deletion-button {
  text-align: center;
}


/* リセットパスワード画面 */

.reset-password-form {
  margin: 0 150px;
}

.reset-password-title {
  margin: 30px 0;
  font-weight: bold;
  text-align: center;
}

.reset-password-button {
  margin: 20px 0;
}

/* フラッシュメッセージ */

.notice {
  text-align: center;
  background-color: #F0FFF0;
  color: #66CDAA;
  padding: 20px 0;
}

/* エラーメッセージ */

.alert {
  text-align: center;
  background-color: #FFF0F5;
  color: #d65f4c;
  padding: 20px 0;
}

/* エラーメッセージ(ユーザー編集時) */

.error-message {
  background-color: #FFF0F5;
  color: #d65f4c;
  padding: 10px 10px;
}

/* ul,liのリストマーク(・)を消去 */

li {
  list-style: none;
}

/* shop一覧ページ */

.shop-list-count {
  padding-top: 12px;
  font-size: 24px;
  text-align: center;
}

.shop-list {
  padding-left: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.shop-list-name {
  color: #1E90FF;
  font-size: 24px;
  font-weight: bold;
}

.shop-list-image {
  max-width: 240px;
}

.shop-list-content {
  margin-bottom: 10px;
  color: black;
  font-size: 18px;
}

/* shopページ 共通 */

.shop-comment-like {
}

.col-shop-score {
  max-width: 170px;
}

.col-shop-average {
  max-width: 60px;
}

.col-shop-review {
  max-width: 86px;
}

.col-shop-like {
  max-width: 20px;
}

.col-shop-likecount {
  max-width: 60px;
  font-weight: bold;
}

/* shop詳細ページ */


.row-shop-title {
  margin-top: 40px;
}

.col-shop-name {
  color: black;
  font-size: 28px;
  font-weight: bold;
}

.row-shop-score {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #DDDDDD;
}

.col-shop-average {
  max-height: 40px;
  font-size: 24px;
  color: red;
  font-weight: bold;
}

.like-btn {
  font-size: 20px;
  font-weight: bold;
  border: solid thin;
  border-radius: 6px;
  padding: 10px;
}

.dislike-btn {
  font-size: 20px;
  font-weight: bold;
  border: solid thin;
  border-radius: 6px;
  padding: 10px;
}

/* shop詳細ページ(トップ) */

.shop-table {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.top-th {
  white-space: nowrap;
}

/* shop詳細ページ(レビュー) */

.review-btn {
  font-size: 16px;
  font-weight: bold;
  border: solid thin;
  border-radius: 6px;
  padding: 10px;
  color: white;
  background-color: #FFA500;
}

.col-review-average {
  max-width: 100px;
  font-size: 24px;
  color: red;
  font-weight: bold; 
}

.review-title {
  text-decoration: 1px underline grey;
  text-decoration-style: dotted;
  font-size: 30px;
}
