<div id="home" class="big-bg">
  <header class="page-header wrapper">
    <%= link_to "FASHION-ONE", root_path, id: "logo" %>
      <nav>
        <ul class="main-nav">
          <li class ="nav-like"><%= "保存済み" %></li>
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">アカウント</a>
            </div>
          </li>
        </ul>
      </nav>
  </header>

  <div class="center">
    <h1>洋服探しはFASHION-ONEで</h1>
    <h2>好きな洋服のジャンル、お店の地域を選び、あなたにぴったりのお店を探そう</h2>
  </div>
</div>
